:root {
    --cor-primaria: rgb(146, 142, 128);
    --cor-secondaria: rgb(67, 23, 35);
}
.pixel-corners {
    clip-path: polygon(
        0px calc(100% - 6px),
        3px calc(100% - 6px),
        3px calc(100% - 3px),
        6px calc(100% - 3px),
        6px 100%,
        calc(100% - 6px) 100%,
        calc(100% - 6px) calc(100% - 3px),
        calc(100% - 3px) calc(100% - 3px),
        calc(100% - 3px) calc(100% - 6px),
        100% calc(100% - 6px),
        100% 6px,
        calc(100% - 3px) 6px,
        calc(100% - 3px) 3px,
        calc(100% - 6px) 3px,
        calc(100% - 6px) 0px,
        6px 0px,
        6px 3px,
        3px 3px,
        3px 6px,
        0px 6px
    );
}

#menu{
    user-select: none;
    position: relative;
    width: 960px;
    max-width: 100%;
    height: 540px;
    max-height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/rosto-da-abrobra.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 1;
}

.menu-btn-grupo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.btn-menu{
    width: 400px;
    height: 50px;
    color: var(--cor-primaria);
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: var(--cor-secondaria);
}

.btn-menu:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secondaria);
    filter: brightness(1.2);
    border: 2px solid var(--cor-secondaria);
    font-size: 26px;
}